In [ ]:
import mysql.connector as connector

In [ ]:
connection = connector.connect(user = "user_name", password = "Password")

In [ ]:
#create a cursor
cursor = connection.cursor()

In [ ]:
cursor.execute("""USE LittleLemonDB""")
print("The database in use is: ", connection.database)

The database in use is:  littlelemondb

In [ ]:
# Get the names of all the tables using SQL query
show_tables_query = "SHOW TABLES;" 
cursor.execute(show_tables_query)

In [ ]:
# Retrieve query results in a variable ‘results’
results = cursor.fetchall()

In [ ]:
# Use for loop to print the names of all the tables 
for table in results:
    print(table)

In [ ]:
query = """SELECT  c.Id as "Customer Id",
				CONCAT(c.FirstName, c.LastName) as "Customer FullName",
                c.PhoneNumber,
                c.Email
		FROM Customers c
        INNER JOIN Bookings b
			ON c.Id = b.Customer
		INNER JOIN  Orders o
			ON o.Booking = b.Id
		INNER JOIN MenuItemsOrdered mio
			ON o.Id = mio.Orders_Id
		INNER JOIN Menu_Has_MenuItems mm
			ON mm.Id = mio.Menu_has_MenuItems_Id
		INNER JOIN MenuItems mi
			ON mi.Id = mm.MenuItems_Id
        GROUP BY  c.Id, o.Id
        HAVING SUM(mi.Price*mio.Quantity );"""

# Execute query 
cursor.execute(query)

results = cursor.fetchall()   

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print(cols)
for result in results:
    print(result)

('Customer Id', 'Customer FullName', 'PhoneNumber', 'Email')